@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Kranky&display=swap');


/*custom properties css
 define root scope
*/

:root{

  --success-color:rgb(46, 190, 10);

  --error-color:rgb(206, 13, 13);


}


*{
box-sizing: border-box;   
}

body{

  background-color:rgb(226, 226, 223);

  font-family: 'Kranky', sans-serif;

  display:flex;     /* make all the children of the body flex item */

  align-items:center;

  justify-content:center;

  min-height: 100vh;

  margin: 0;
}


.container{

background-color:rgb(42, 165, 144);

border-radius: 5px;

box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

width: 400px;

}

h2{

  text-align: center;

  margin: 0 0 20px;

}

.form-control{

margin-bottom:10px;

padding-bottom:20px;

position:relative; /*positioning two elements absolute use this     */
}


.form{

padding: 30px 40px;  /*top-bottom padding, left-right*/

}


.form-control label{

  /* color:#777; */
  display:block;

  margin-bottom: 5px;
}


.form-control input{

border: 2px solid #f0f0f0;

border-radius:4px;

display:block;    /* change default inline property  */

width:100%;

padding:10px;

font-size:14px;
}

.font-control input:focus{  /* The :focus CSS pseudo-class represents an element (such as a form input) that has received focus */ 

outline:0;

border: color #777;

}

.form-control.success input{

  border-color:var(--success-color);


}

.form-control.error input{

border-color:var(--error-color);

}

.form-control small{

color:var(--error-color);

position:absolute;

bottom:0;

left:0;

visibility:hidden;

font-size:15px;

}


.form-control.error small{

  visibility:visible;

}

.form button{

  cursor:pointer;
  background-color:rgb(154, 94, 161);
  border:2px solid rgb(154, 94, 161);
  border-radius:4px; 
  color:#fff;
  display:block; 
  font-size:16px;
  padding:10px;
  margin-top:20px;
  width:100%;

}